.card {
  border: 1px #CCC solid;
  padding: 8px;
  margin: 10px;
}

.cover {
  height: 180px;
  max-width: 180px;
}


.name {
  font-weight: bold;
  display: block;
}

.artist {
  display: block;
}

.album {
  display: block;
}